button {
  color: black;
  background-color: whitesmoke;
}
.timer-header {
  background-color: whitesmoke;
  height: 50px;
}
.timer-item {
  height: 50px;
}
.large {
  height: 20px;
}
.timer {
  max-height: 100px;
  margin-bottom: 10px;
}
